$colors: (
  primary: #c1c1c1,
  secondary: rgb(255, 255, 255),
);
$color-primary: #ff6b6b;

@function color($colorName) {
  @return map-get($map: $colors, $key: $colorName);
}

body {
  background-color: #ff7700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23952a36' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23712298' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ba3140' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%238e7f36' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23b914af' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23973c5f' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b13276' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%237b7a6e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%238c687a' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f057c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a91094' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2380377f' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  div{
    color: color(primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .heading{
      margin: 0%;
    }
    input{
      border-radius: 10px;
      height: 30px;
      margin: 10px;
    }
    button{
      width: 50px;
      height: 50px;
      margin: 50px;
      border-radius: 40px;
    }
    .itemsContainer{
      height: auto;
      color: color(secondary);
    }
  }
}
